<!doctype html>
<html lang="en" class="min-h-full antialiased">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if meta_title %}
        {{ meta_title }}
      {% else %}
        {{ title }}
      {% endif %} | {{ site.name }}
    </title>

    <meta name="description" content="{% if meta_description %}{{ meta_description }}{% else %}{{ excerpt }}{% endif %}">

    {% if page.fileSlug === 'blog' %}
      <meta name="robots" content="noindex,follow"/>
    {% else %}
      <meta name="robots" content="index,follow"/>
    {% endif %}

    {% if helpers.environment === "development" %}
      <link rel="stylesheet" href="/css/main.css">
    {% else %}
      <link rel="stylesheet" href="/css/main.min.css">
    {% endif %}

    {% if helpers.environment === "development" %}
      <script src="/js/main.js" defer></script>
    {% else %}
      <script src="/js/main.min.js" defer></script>
    {% endif %}

    {% include "components/social-meta.njk" %}

    <link rel="icon" type="image/png" href="{{ site.images.favicon }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>

  <body {% if body_class %} id="{{ body_class }}"{% endif %}>
    <a class="sr-only" href="#main">Skip to content</a>

    <div id="wrapper" class="wrapper flex flex-col relative min-h-screen">
      {% include "components/header.njk" %}

      <main id="main" class="focus:outline-none py-8" tabindex="-1">
        {{ content | safe }}
      </main>

      {% include "components/footer.njk" %}
    </div>
  </body>
</html>
